services:
  ffc-ahwr-sfd-messaging-proxy:
    build:
      context: .
      target: production
    image: ffc-ahwr-sfd-messaging-proxy
    container_name: ffc-ahwr-sfd-messaging-proxy
    environment:
      APPINSIGHTS_CLOUDROLE: ffc-ahwr-sfd-messaging-proxy-local
      APPINSIGHTS_CONNECTIONSTRING: ${APPINSIGHTS_CONNECTIONSTRING}
      POSTGRES_DB: ffc_ahwr_sfd_messaging_proxy
      POSTGRES_HOST: ${POSTGRES_HOST:-ffc-ahwr-sfd-messaging-proxy-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_SCHEMA_PASSWORD:-ppp}
      POSTGRES_PORT: 5432
      POSTGRES_SCHEMA_NAME: ${POSTGRES_SCHEMA_NAME:-public}
      POSTGRES_USERNAME: ${POSTGRES_SCHEMA_USERNAME:-postgres}
      MESSAGE_QUEUE_HOST: ${MESSAGE_QUEUE_HOST}
      MESSAGE_QUEUE_PASSWORD: ${MESSAGE_QUEUE_PASSWORD}
      MESSAGE_QUEUE_USER: ${MESSAGE_QUEUE_USER}
      SFDMESSAGEREQUEST_QUEUE_ADDRESS: ${SFDMESSAGEREQUEST_QUEUE_ADDRESS:-ffc-ahwr-sfd-message}${MESSAGE_QUEUE_SUFFIX}
      SFDMESSAGE_TOPIC_ADDRESS: ${SFDMESSAGE_TOPIC_ADDRESS:-ffc-ahwr-sfd-msg-request}${MESSAGE_QUEUE_SUFFIX}
      SFD_EMAIL_REPLYTO_ID: ${SFD_EMAIL_REPLYTO_ID:-c3e9149b-9490-4321-808c-72e709d9d814} # fake id
